{{define "header"}}
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/assets/styles.css">
      <title>Bolley</title>
    </head>
  <body>
    <div class="header">
      <div>
        <a href="/">
          <h1>Bolley</h1>
        </a>
      </div>
    </div>
    <div class="content">
{{end}}