{{ template "header" }}

<div class="teams">
	{{range .Teams}}
		<div class="teams-card">
			<a href="/teams/{{ . }}">
				<div class="teams-card-content">
					<h2>{{ . }}</h2>
				</div>
			</a>
		</div>
	{{ end }}
</div>

{{ template "footer" }}