{{ template "header" }}

<h1>{{ .TeamName }}</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points scored</th>
      <th>Points/match</th>
      <th>Attacks</th>
      <th>Blocks</th>
      <th>Blocks/match</th>
      <th>Aces</th>
      <th>Aces/match</th>
      <th>Attack %</th>
      <th>Reception %</th>
      <th>Won/lost</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Stats }}
      <tr>
        <td>{{ .Name }}</td>
        <td>{{ .PointsScored }}</td>
        <td>{{ .PointsPerMatch }}</td>
        <td>{{ .Attacks }}</td>
        <td>{{ .Blocks }}</td>
        <td>{{ .BlocksPerMatch }}</td>
        <td>{{ .Aces }}</td>
        <td>{{ .AcesPerMatch }}</td>
        <td>
          {{if .AttackPrecent.Valid }}
            {{.AttackPrecent.Float64}}
          {{else}}
          -
          {{end}}
        </td>
        <td>
          {{if .ReceptionPrecent.Valid }}
            {{.ReceptionPrecent.Float64}}
          {{else}}
          -
          {{end}}
        </td>
        <td>{{ .WonLost }}</td>
      </tr>
    {{ end }}    
  </tbody>
</table>

{{ template "footer" }}