.header {
  font-family: 'Lobster', cursive;
  font-size: 1.3rem;
  color: white !important;
  background: rgb(255, 38, 78);
  padding: 5px 0;
  text-align: center;

  & > div {
    display: inline-block;
  }

  h1 {
    margin: 0;
  }
}